<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ final_result.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ final_result.city }}</span>
                                        <br>
                                        <span class="subtitle">Current Temp: <b>{{ final_result.current_temp }}° C</b></span>
                                        <br> <span>Country: <b>{{ final_result.country }}</b></span>
                                        <br> <span>City: <b>{{ final_result.city }}</b></span>
                                        <br> <span>High Temp: <b>{{ final_result.high_temp }}° C</b></span>
                                        <br> <span>Low Temp: <b>{{ final_result.low_temp }}° C</b></span>
                                        <br> <span>Description: <b>{{ final_result.description }}</b></span>
                                        
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <a href="https://github.pie.apple.com/sakshi-t/weather-api"><i class="fa fa-github" style="font-size:36px"></i></a>.
              </p>
            </div>
          </div>
    </footer>
</body>

</html>